html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: $ff-primary;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $clr-dark;
}

a {
  color: $clr-dark;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}


