.banner{
    &__wrapper{
        min-height: calc(100vh - 60px);
        @include mediaQuery($mobile){
            
        }
    }
    &__content{
        max-width: 50rem;
        width: 100%;
        h1{
            font-size: clamp(3rem, 6vw, 6rem);
            margin-bottom: 2rem;
            line-height: 1.2;
        }
        p{
            font-size: 1.8rem;
            margin-bottom: 4rem;
        }
        a:last-child{
            margin-left:2rem;
    }
}
}



// PRODUCT

.product__cards{
    @include grid(4, 2rem);
    @include mediaQuery($mobile){
        @include grid(1, 2rem);
    }
}

.product__item{
    box-shadow: $shadow;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    transition: .5s ease;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        background-color: $clr-primary;
        z-index: -1;
        transition: .5s ease;
    }
    &:hover::before{
        width: 50%;
        height: 15rem;
    }

    &:hover a{
        background-color: $clr-primary;
        color: $clr-light;
    }
    img{
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
        margin: 0 auto 3rem;
        display: block;
        object-fit: cover;
    }

    a{
        display: block;
        text-align: center;
    }

    .item__info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        align-items: center;

        h3{
            font-weight: 800;
            font-size: 2.5rem;
        }

        h4{
            font-weight: bolder;
            font-size: 2rem;
        }

        small {
            font-size: 1.2rem;
            opacity: 0.3;
            font-weight: bold;
        }
    }

    .item__review{
        h4{
            font-size: 1.4rem;
            i{
                color: $clr-primary;
            }
        }
    }
}

.product__item.reverse{
    &::before{
        left: unset;
        right: 0;
}
}

.category__tab {
 
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        border-radius: 3rem;
        box-shadow: $shadow;
        max-width: 43rem;
        width: 100%;
        margin: 0 auto 6rem;
        
        li {
           
            min-width: 7rem;
           a {
            display: block;
            padding:1rem;
            text-align: center;
            border-radius: 3rem;
            &:hover {
                background-color: $clr-primary;
                color: $clr-light;
            }
           }
        }
        li.active a {
            background-color: $clr-primary;
            color: $clr-light;
           
        }
    }
}









// BOOKING //

.booking{
    min-height: 50rem;
    background-image:url(../img/restaurant.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 300px;
    background-position-y: -300px;
    @include mediaQuery($mobile){
        background-position-x: 0;
        background-position-y: 0;
    }
    &__content{
        background-color: $clr-primary;
        color: $clr-light;
        height: 50rem;
        width: 50%;
        position: relative;
        display: grid;
        place-items: center;
        justify-content: flex-start;
        @include mediaQuery($mobile){
            margin: 2rem 0;
            padding: 2rem 0;
            background-color: rgba($clr-primary, 0.8);
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            right: 100%;
            height: 100%;
            width: 40vw;
            background-color: $clr-primary;
            @include mediaQuery($mobile){
                display: none;
            }
        }
        .inner{
            max-width: 40rem;
            width: 100%;
            small{
                text-transform: uppercase;
                color: $clr-dark;
                font-weight: 800;
                font-size: 1.8rem;
            }
            h2{
                font-size: clamp(3rem, 6vw, 5rem );
            
                margin: 3rem 0 3rem;
            }
            p{
                margin-bottom: 3rem;
            }
        }
    }
}

// WORK//

.work__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    @include mediaQuery($mobile){
        @include grid(1, 2rem);
    }
    .work__card{
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: $shadow;
        text-align: center;
        i{
            color: $clr-primary;
            font-size: 3rem;
        }
        h3{
            font-size: 2rem;
            margin: 2rem 0;
            color: $clr-primary;
        }
        p{
            opacity: .5;
            font-weight: bold;
        }
    }
}


///APP//

.app{
    &__wrapper{
        padding: 2rem 10rem;
        background-color: lighten($clr-primary-light, 20) ;
        border-radius: 3rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 100%;
        max-height: 44rem ;
        overflow: hidden;

        @include gridUneven(2fr 1fr, 2rem);
        @include mediaQuery($mobile){
          padding: 2rem;
          @include gridUneven(1fr, 2rem);
          max-height: 74rem;
        }
    }
    &__content{
        max-width: 55rem;
        width: 100%;
        h2{
            font-size: clamp(3rem, 6vw, 5rem);
         
            margin: 4rem 0 3rem;
            span{
                color: $clr-primary;
            }
        }
        p{
            font-size: 2rem;
            opacity: .5;
            margin-bottom: 4rem;
            font-weight: bold;
        }
    }
}



/////TESTIMONIALS//
.testimonials{
    &__wrapper{
        @include grid(3, 2rem);
        @include mediaQuery($mobile){
            @include grid(1, 2rem);
        }
    }
    &__card{
        display: grid;
        grid-template-columns: 1fr 1.8fr;
        grid-gap: 1rem;
        border-radius: 1rem;
        box-shadow: $shadow;
        padding: 1rem;
        position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                background-color: $clr-primary;
                top: 15px;
                left: 15px;
                z-index: -1;
            }
        img{
            // width: 10rem;
            // height: 10rem;
            // object-fit: cover;
            @include imgFit(10rem, 10rem);
            border-radius: 50%;
          
            transition: .5s ease;
        }
        h4{
           
            font-size: 2rem;
            line-height: 1;
        }
        small{
            font-size: 1.2rem;
            opacity: .5;
        }
        ul{
            display: flex;
            gap: .5rem;
            margin: .5rem 0;
            i{
                color: $clr-primary;
            }
        }
        p{
            opacity: 0.8;
        }
    }
    .inner{
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        border-radius: 50%;
        border: 5px solid $clr-primary;
    }
    &__card:hover img{
        transform: scale(1.2);
    }

    &__img{
        padding: 1rem;
    }

}



// NEWS LETTER

.newsletter{
    background-image: linear-gradient(rgba($clr-dark, 0.6),rgba($clr-dark, 0.6)), url(../img/restaurant.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include centerAll;
    min-height: 45rem;

    &__wrapper{
        max-width: 75rem;
        width: 100%;
        margin: 0 auto;
        color: $clr-light;
        text-align: center;
        h2{
            font-size: clamp(2rem, 6vw, 5rem);
         
            span{
                color: $clr-primary;
            }
        }

        p{
            opacity: 0.8;
            margin: 2rem 0;
            font-size: 2rem;
        }

        form{
            input{
                text-align: left;
                width: 38rem;
                border: 3px solid $clr-light;
                padding: .8rem 1.6rem;
                background-color: $clr-light;
                border-radius: .5rem;
                color: $clr-dark;
            }
            button{
                padding: .8rem 1.6rem;
                background-color: $clr-primary;
                border-radius: .5rem;
                border: 3px solid $clr-light;
                transform: translateX(-12px);
                @include mediaQuery($mobile){
                   width: 38rem;
                   margin-top: 1rem;
                   transform: translateX(0);
                }
            }
        }
    }
}



/////FAQ/////
.faq{
    &__block{
        border-radius: 2rem;
        box-shadow: $shadow;
        margin-bottom: 4rem;
    }
    &__question{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 3rem;
        cursor: pointer;
        h3{
            font-size: 2.5rem;
           
        }
        i{
            font-size: 1.8rem;
            transition: .5s ease;
        }
    }

    &__answer{
        padding: .5rem 3rem;
        height: auto;
        max-height: 0;
        transition: max-height .5s ease;
        overflow: hidden;
    }

    &__question.open i{
        transform: rotate(45deg);
    }

    &__answer.open{
        max-height: 20rem;
    }
}

